extends _partial/layout.jade

block container
  include mixins/post
  +post(page)

block pagination
  include mixins/paginator
  +post()

block comments
  if page.comments == true
    include _partial/disqus