.copyright
  p!='Copyright © &nbsp;' + theme.name +'&nbsp;2017 - 2018&nbsp;|&nbsp;'+'<a href="http://hexo.io/" target="_blank">Hexo</a> Theme <a href="'+theme.themeLink+'" target="_blank">'+theme.themeName+'</a>'