meta(charset='utf-8')
if page.title
  title= page.title + ' | ' + config.title
else
  title= config.title
meta(name="description", content=page.description)
meta(name="keywords", content=page.keywords)
meta(name="viewport", content="width=device-width, initial-scale=1")
meta(name="theme-color", content="#e0e0e0")
meta(name="msapplication-navbutton-color", content="#e0e0e0")
meta(name="apple-mobile-web-app-status-bar-style", content="#e0e0e0")
link(rel="icon", href="/favicon.png")
link(href="/css/bootstrap.min.css", rel="stylesheet")
link(href="/css/font-awesome.min.css", rel="stylesheet")
link(href="/css/main.css", rel="stylesheet")
include google-analytics.jade
