doctype
html(lang=config.language)
  head
    include head
  body
    .wrap
      include nav
      main.hiruko-container
        block container
        block aside
        block pagination
        block comments
        if page.vertical == true
          footer
            include copyright
    if page.vertical != true
      footer
        include copyright
    include scripts
